/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .navbar-toggle {
        border: 2px solid #ffffff;
        border-radius: 0;
    }
    .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .mainmenu-area.affix .navbar-toggle {
        border: 2px solid #fd6394;
    }    
    .mainmenu-area.affix .navbar-toggle .icon-bar {
        background-color: #fd6394;
    }
    #mainmenu {
        background-color: #fd6394;
    }
    .mainmenu-area.affix #mainmenu {
        background-color: #ffffff;
    }
    .header-area {
        height: auto;
    }
    .vcenter {
        position: static;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    .section-bg.boxes {
        width: 100%;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}